@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Inter", sans-serif;
}

.logo img{
  width: 120px;
}
  .header-menu{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    position: relative; 
    z-index: 2; 
  }
  .menu-wrapper{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-item a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
    color: white;
  }

.menu-toggle{
  display: none;
}
  
.connect{
  width: 20%;
  font-size: 1.2em;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: white;
}
.connect a{
  text-decoration: none;
  color: black;
  text-align: center;
}
.connect:hover{
  background-color: #1A418C;
  color: white;
  transform: scale(1.1);
  border: none;
  transition-duration: 1.1s;
}
.connect a:hover{
  color: white;
}
  .nav-item a:hover{
    border: 1px solid #4fc3f7;
    border-radius: 15px;
    transition-duration: 1.1s;

  }
  .navbar{
    width: 90%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
  }
  .header-wrapper{
    background-image: url("./photo/backgroundimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    
  }
  .header-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; 
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%; 
  font-size: 2rem;
  color: white;
  transition: all 1s ease;
  opacity: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.slide img{
  width: 450px;
  margin-right: 120px;
}
.slide-woman{
  width: 1050px;
}
.slide h2 {
  font-size: 1.6em;
  margin-top: 70px;
  margin-left: 150px;
}
.slide p {
  margin-top: 40px;
  margin-left: 150px;
  font-size: 0.7em;
}
.slide button {
  margin-left: 150px;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}
.slide.active {
  left: 0; 
  display: flex;
  opacity: 1;
}
.slide.previous {
  left: -100%; 
  opacity: 0;
}

.access-btn:hover{
    transform: scale(1.1);
    transition-duration: 1.1s;
    background-color: #1A418C;
  
   }
   .access-modul{
    display: none;
   position: fixed;
    z-index: 1000;
    width: 100%;
   }
   .access-modul h2{
    font-size: 1.7em;
   }
   .close-btn {
    border: none;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    width: 100%;
    color: #2C5AB2;
  }
   .access-main-modul{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    z-index: 1000;
    margin: 50px auto;
   
   }
   .access-main-modul form{
    display: flex;
    flex-direction: column;
   }
   .access-main-modul form input{
    padding: 10px;
    border-radius: 10px;
   }
   .access-main-modul form label{
    padding: 5px;
    color: #808080;
   }
   .access-main-modul form button{
    padding: 10px;
    background-color: #2C5AB2;
    border-radius: 10px;
    border: none;
    color: white;
   }
   .tariff-packets, .internet-packets{
    padding-top: 30px;
    padding-bottom: 100px;
    background-color:  #f7f7f7;
    display: none;
  }
  .tariff-packets{
    display: block;
  }
  .internet-packets .tariff-title{
    text-align: left;
    font-weight: bold;
    font-size: 2em;
  }
  .tariff-packets-title{
    display: flex;
    justify-content: space-between;
  }
   .use-time p{
    color: white;
    padding: 10px;
    font-style: italic;
  }
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: none; 
    transition: opacity 0.3s ease; 
    z-index: 1000;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1002; 
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .popup-overlay.show {
    display: block;
    opacity: 1;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    z-index: 1003; 
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05); 
  }
  .internet-options{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    gap: 10px;
  }
  .internet-options button{
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
  }
  .internet-options button.active,
  .internet-options button:hover{
    border: 1px solid black;
  }
  .limitless-wifi{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
  } 
  .wifi-img{
    width: 100px;
  }
  .limitless-wifi p{
    font-size: 1.2em;
    padding: 5px;
  }
  .tariff-packets h2{
    color: #1A418C;
    padding: 20px;
    font-size: 3.5em;
  }
  .internet-packets h2{
    color: #1A418C;
    padding: 20px;
    font-size: 3em;
  }
  .tariff-cards{
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .tariff-card{
    border-radius: 10px;
    width: 30%;
    background-color: white;
    margin: 20px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .tariff-card:hover {
    transform: translateY(-20px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  }
  .img-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
       height: 100px;
       background-color: #1A418C;
      
  }
  .join h3{
    text-align: center;
    font-size: 1.3em;
    margin: 30px auto;
    width: 50%;
      border: none;
      padding: 10px;
      border-radius: 20px;
      background-color: #F28C1A;
      color: white;
      cursor: pointer;
      font-weight: 400;
  }
  .tariff-title{
    padding-left: 2%;
    padding-top: 6%;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    color: white;
  }
  .card-button{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      gap: 10px;
  }
  .card-button button{
    width: 24%;
    padding: 15px;
      font-size: 16px;
      border: none;
      border-radius: 20px;
      background-color: white;
      color: #1A418C;
      cursor: pointer;
  }
  .card-main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
  }
  .card-main img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
  .card-main div{
    display: flex;
    margin: 10px;
  }
  .internet p{
    font-size: 1.2em;
    padding: 10px;
  }

  .call p{
    padding: 10px;
    font-size: 1.2em;
  }
  .limitless p{
    padding: 10px;
    font-size: 1.2em;
  }
  .join{
    flex-direction: column;
    
  }
  .join p{
    font-size: 14px;
    font-style: italic;
      color: #808080; 
      text-align: center;
  }
  .slogan{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    color: #1A418C;
  }
  .slider-container {
    width: 80%;
    margin: auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .tariff-select img{
    width: 20px;
    transition: transform 0.3s ease; 
  }
  .options{
    width: 20%;
  }
  .tariff-select{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 3%;
  }
  .tariff-select div{
    display: flex;
  }
  .tariff-select span{
    font-size: 1.1em;
    color: #808080;
  }
  .tariff-select p{
    font-size: 1.1em;
    padding-right: 6%;
  }
  .tariff-packets-title{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  .internet-packets .tariff-packets-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tariff-option{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
  }
  .tariff-option.show {
    display: block;
}
  .tariff-option li{
    list-style-type: none;
    font-size: 1.1em;
    padding: 10px;
    cursor: pointer;
  }
.graph{
  /* display: none; */
  background-color: #f7f7f7;
  padding-bottom: 60px;
}
.graph-wrapper-container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: 0 auto;
}
.graph-wrapper-container h2{
  font-size: 2.3em;
}
.graph-wrapper-container h3{
  font-size: 1.3em;
}
.graph-wrapper-container h2, .graph-wrapper-container h3 {
    font-weight: 650;
    color: #333;
    padding: 10px;
}
.graph-wrapper-container input{
    padding: 10px;
    font-size: 14px;
    width: 70%;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.graph-wrapper-container button {
    padding: 10px 20px;
    background-color: #f77f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.usageChart {
  display: block;
  width: 100%;
  height: auto;
}

.graph-wrapper-container button:hover {
    background-color: #f87f22; 
}

.graph-container {
    width: 90%;
    margin: 30px auto;
}
.chart-container {
    width: 100%;
    margin-top: 30px;
}

  .client-question{
    display: none;
    background-color: #f7f7f7;
    padding-bottom: 100px;
  }
.questionnaire {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  color: white;
}

.question-container h2 {
  font-size: 1.8em;
}

.answers {
  margin-top: 20px;
}

.answer-button {
width: 35%;
color: white;
  background-color: #F28C1A;
  border: 2px solid #2C5AB2;
  border-radius: 20px;
  padding: 18px 20px;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
#result-details{
color: white;
font-size: 1.3em;
}

.answer-button:hover {
  background-color: #1A418C;
  color: white;
}

.progress {
  margin-top: 20px;
  font-size: 1em;
}

.progress span {
  font-weight: bold;
}

.result {
  text-align: center;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

#restart-btn {
width: 20%;
background-color: #F28C1A;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s;
}

#restart-btn:hover {
  background-color: #1A418C;
}

.client-question h2 {
margin: 50px 0;
text-align: center;
color: white;
font-size: 2em;
}

#start-btn {
width: 30%;
padding: 15px 20px;
margin: 10px auto;
font-size: 1.1em;
background-color: #F28C1A;
color: white;
border: none;
cursor: pointer;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}


.hidden {
display: none;
}

.start-screen, .questionnaire, .result {
padding: 50px;
width: 70%;
border: none;
background-color: #2d59aa;
border-radius: 10px;
margin: 0 auto;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}
.start-div{
display: flex;
flex-direction: column;
}
footer{
  background-color: #333333;
  padding: 50px;
}
footer hr{
  border-color: #808080;
  width: 85%;
  margin: 0 auto;
}
.footer-header h2{
  color: white;
  font-size: 2.5em;
  padding: 30px;
}
.footer-header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.access-btn{
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: #2C5AB2;
  font-size: 15px;
  color: white;
  border: none;
}
.access-btn:hover{
transform: scale(1.1);
transition-duration: 1.1s;
background-color: #1A418C;

}
footer .access-btn{
  width: 28% ;
  height: 50px;
}
.footer-main{
  padding: 50px;
  padding-left: 10%;
  display: flex;
  gap: 10%;
}
.footer-item h3{
  color: white;
  font-size: 1.5em;
}
.footer-item ul{
  margin-top: 20px;
  list-style-type: none;
  font-size: 1em;
  color: #808080;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.footer-item li:hover{
  color: #58595C;
}
.footer p{
  font-size: 1em;
  color: white;
}
.footer img{
  width: 40px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}
.footer-logo img{
  width: 160px;
 }
 .footer-logo{
  margin-left: 20%;
 }

  @media screen and (min-width:601px) and (max-width:1280px){
    .header-menu{
      justify-content: space-evenly;
    }
    .logo img{
      width: 80px;
    }
    .access-main-modul{
      width: 60%;
    }
  
    .access-modul h2{
      font-size: 1.5em;
    }
    .menu-wrapper{
      width: 90%;
      justify-content: flex-end;
      margin-right: 2%;
    }
    .navbar{
      width: 80%;
      justify-content: space-between;
    }
    .nav-item a{
      font-size: 1em;
    }
    .connect{
      font-size: .9em;
      width: 20%;
    }
    .slide h2{
      font-size: 1.3em;
      margin-left: 50px;
    }
    
    .slide p{
      font-size: 0.5em;
      margin-left:50px ;
      margin-top: 20px;
    }
    .slide img{
      width: 350px;
      height: 300px;
      margin-right: 50px;
    }
    .slide button{
      margin-left: 50px;
      margin-top: 30px;
      padding: 15px;
    }
    .header-wrapper{
      height: 500px;
    }
    .options{
      width: 30%;
    }
    .tariff-card{
      width: 45%;
    }
    .answer-button{
      width: 46%;
      padding: 15px 20px;
    }
    .start-screen, .questionnaire, .result{
      width: 82%;
    }
    #restart-btn{
      width: 25%;
    }
    .popup{
      width: 40%;
     }
    .graph-container{
      width: 90%;
    }
    .graph-wrapper-container h2{
      font-size: 2.1em
    }
    .graph-wrapper-container h3{
      font-size: 1.2em
    }
    .graph-wrapper-container input{
      width: 75%;
      margin-bottom: 3%;
    }
    .graph-wrapper-container button{
      margin-bottom: 2%;
    }
    .footer-header h2{
      font-size: 1.8em;
     }
     .footer-item ul li{
      font-size: .9em;
     }
     .footer-item h3{
      font-size: 1em;
     }
     .footer-main{
      gap: 5%;
     }
     footer hr{
      width: 95%;
     }

  }

  @media screen and (min-width:601px) and (max-width:850px){
    .slideshow{
      height: 300px;
    }
    .slide h2{
      margin-top: 40px;
      font-size: 1em;
     }
     .slide img{
      width: 250px;
      height: 200px;
      margin-right: 30px;
     }
     .header-wrapper{
      height: 400px;
     }
     .menu-wrapper{
      width: 90%;
     }
     .navbar{
      width: 95%;
     }
     .nav-item a{
      font-size: .8em;
     }
     .connect{
      font-size: .8em;
      padding: 10px;
     }
     .slide button{
      width: 50%;
      font-size: .5em;
     }
     .slide button:first-child{
      width: 10%;
     }
     .options{
      width: 40%;
     }
     .slider-container{
      width: 95%;
     }
     .tariff-card{
      width: 45%;
      margin: 20px 5px;
     }
     .internet-packets h2{
      font-size: 2em;
     }
     .options{
      width: 35%;
     }
     .internet-options{
      width: 80%;
     }
     .answer-button{
      width: 55%;
      padding: 15px 10px;
      font-size: .9em;
    }
    .start-screen, .questionnaire, .result{
      width: 90%;
    }
    #restart-btn{
      width: 35%;
    }
    .graph-wrapper-container{
      width: 85%;
    }
    .graph-container{
      width: 100%;
    }
    .graph-wrapper-container h2{
      font-size: 1.8em;
    }
    .graph-wrapper-container h3{
      font-size: 1em;
    }
    .footer-main{
      gap: 5%;
     }
    .footer-logo img{
      width: 130px;
    }
    .footer-logo{
      margin-left: 10%;
    }
    .footer-main{
      padding-left: 8%;
      /* gap: 3%; */
    }
    /* .footer-item h3{
      font-size: .8em;
    } */
    .footer-item p{
      font-size: .8em;
    }

  }

  @media screen and (min-width:300px) and (max-width:600px){
    .menu-wrapper{
      display: none;
    }
    .menu-wrapper.show{
      right: 0;
      display: block;
    }
    .header{
      display: none;
    }
    .navbar-header{
      display: block;
    }
    .menu-wrapper {
      position: fixed;
      top: 3px;
      right: -100%; 
      width: 100%; 
      background-color: rgba(26, 65, 140, 0.95);
      padding: 20px;
      box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
      transition: right 0.3s ease; 
      z-index: 9999;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 12px 12px;
     
    }
    .menu-toggle {
      display: block;
      color: white;
      font-size: 1.4em; 
      border: none;
      background: transparent;
      border-radius: 5px; 
      cursor: pointer;
    }
    .menu-wrapper .menu-toggle{
      width: 100%;
      text-align: right;
      padding-right: 20px;
    }
    .header-menu{
      justify-content: space-between;
      align-items: center;
      gap: 50%;
    }
    
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); 
      display: none; 
      transition: opacity 0.3s ease; 
      z-index: 1;
    }
    .access-main-modul{
      width: 90%;
      margin: 40px auto;
    }
    .slide{
      z-index: 1;
    }
    .overlay.show {
      display: block; 
      opacity: 1; 
    }
    
    .nav-item a {
      width: 100%;
      display: block;
      color: white;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 8px; 
      transition: background-color 0.3s ease, transform 0.2s ease; 
    }
    .popup{
      width: 50%;
    }
    .nav-item a:hover {
      background-color: rgba(255, 255, 255, 0.3); 
      transform: scale(1.05); 
    }
    .navbar {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      margin: 0;
      align-items: flex-start;
    }
    
    
    .connect {
      width: 70%;
      margin-top: auto; 
      padding: 10px;
      font-size: 18px;
      background-color: white;
      color: #1A418C;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .navbar-header{
      padding: 20px 0;
      display: flex;
    }
    .header-item div{
      font-size: .7em;
      width: 45%;
      background-color: #2C5AB2;
      /* color: #1A418C; */
    }
    .access-main-modul{
      width: 90%;
      margin: 40px auto;
    }
    .slide h2{
      margin-left: 20px;
      font-size: 1.2em;
      margin-top: 20px;
    }
    .logo img{
      width: 70px;
    }
    .slide p{
      margin-left: 20px;
      font-size: .5em;
      margin-top: 20px;
    }
    .slide img{
      display: none;

    }
    .header-wrapper{
      height: 350px;
    }
    .slide button{
      margin-top: 30px;
      margin-left: 20px;
      font-size: .4em;
      padding: 10px;
      width: 70%
    }
    .slideshow{
      height: 300px;
    }
    .tariff-packets-title{
      flex-wrap: wrap;
    }
    .tariff-packets h2{
      font-size: 3.5em;
    }
    .tariff-select div{
      width: 30%;
    }
    .options{
      width: 63%;
      margin: 20px auto;
    }
    .tariff-card{
      width: 80%;
    }
    .internet-options {
      width: 70%;
    }
    .answer-button{
      width: 75%;
      padding: 15px 10px;
      font-size: .9em;
    }
    .start-screen, .questionnaire, .result{
      width: 90%;
    }
    #restart-btn{
      width: 75%;
    }
    .client-question h2{
      font-size: 1.5em;
      margin: 30px 0;
    }
    .graph-wrapper-container{
      width: 90%;
    }
    .graph-wrapper-container h2{
      font-size: 1.5em;
    }
    .graph-wrapper-container h3{
      font-size: .9em;
    }
    .graph-wrapper-container input{
      width:85%;
      margin-bottom: 3%;
    }
    .graph-wrapper-container button{
      margin-bottom: 3%;
    }
    .graph-container{
      margin: 20px auto;
      height: 300px;
    }
    footer hr{
      width: 95%;
    }
    footer{
      padding: 50px 20px;
    }
    .footer-header{
      flex-wrap: wrap;
    }
    .footer-header h2{
      font-size: 2em;
      padding: 10px 0;
      text-align: center;
    }
    footer .access-btn{
      width: 80%;
      margin: 30px;
    }
    .footer-main{
      flex-direction: column;
      gap: 20px;
    }
    .footer-item h3{
      font-size: 2.5em;
    }
    .footer{
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
     }
   .footer p{
    font-size: .8em;
    padding: 5px;
    text-align: center;
   }
   .footer div{
    width: 90%;
   }
   .footer div:last-child{
    display: flex;
    justify-content: center;
    gap: 10px;
   }
   .footer-logo{
    margin-left: 0;
   }
   .footer-logo img{
    width: 100px;
   }
  }

  @media screen and (min-width:300px) and (max-width:470px){
    .header-menu{
      padding: 20px 20px 20px 20px;
    }
    .slide h2{
      font-size: 1em;
      margin-top: 10px;
    }
    .slideshow{
      height: 200px;
    }
    .slide img{
      width: 110px;
      height: 110px;
      margin-right: 10px;
    }
    .header-wrapper{
      height: 300px;
    }
    .slide p{
      font-size: .3em;
    }
    .slide button{
      width: 60%;
      margin-top: 20px;
      font-size: .3em;
    }
    .options{
      width: 70%;
      margin: 20px auto;
    }
    .tariff-packets-title{
      flex-wrap: wrap;
    }
    .slider-container{
      width: 90%;
    }
    .tariff-card{
      width: 90%;
    }
    .popup{
      width: 60%;
    }
    .tariff-packets h2{
      font-size: 2.5em;
    }
    .tariff-title{
      font-size: 2em;
    }
    .img-card{
      height: 80px;
    }
    .card-main div{
      margin: 5px 10px;
    }
    .call p{
      font-size: 1em;
    }
    .internet p{
      font-size: 1em;
    }
    .limitless p{
      font-size: 1em;
    }
    .join p{
      font-size: 10px;
    }
    .join h3{
      font-size: 1.2em;
      width: 60%;
      margin: 20px auto;
    }
    .internet-options{
      width: 90%;
    }
    .internet-packets h2{
      font-size: 2em;
    }
    .internet-options button{
      font-size: .8em;
    }
    .tariff-select div{
      width: 35%;
    }
    .img-card{
      height: 100px;
    }
    .tariff-packets .img-card{
      height: 80px;
    }
    .answer-button{
      width: 100%;
      padding: 15px 10px;
      font-size: .8em;
      margin: 10px auto;
    }
    .start-screen, .questionnaire, .result{
      width: 90%;
      padding: 26px;
    }
    #restart-btn{
      width: 75%;
      padding: 15px;
    }
    .client-question h2{
      font-size: 1.7em;
      margin: 30px 0;
    }
    #result-details{
      font-size: 1em;
    }
    #start-btn{
      width: 75%;
      padding: 15px;
    }
    .graph-wrapper-container{
      width: 98%;
      padding: 30px 20px;
    }
    .graph-wrapper-container h2{
      font-size: 1.3em;
      padding: 5px;
    }
    .graph-wrapper-container h3{
      font-size: .8em;
    }
    .graph-wrapper-container input{
      width:90%;
      font-size: .8em;
      margin-bottom: 4%;
    }
    .graph-wrapper-container button{
      margin-bottom: 3%;
      padding: 9px 15px;
    }
    .graph-container{
      margin: 20px auto;
      height: 300px;
    }
    .footer-header h2{
      font-size: 1.5em;
      padding: 5px;
    }
    footer .access-btn{
      width: 88%;
     height: 40px;
    }
    .footer-item h3{
      font-size: 2em;
    }
  }